<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_azul"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_canhub_sinfondo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CanHub"
        tools:targetApi="31">
        <activity
            android:name=".Canhub"
            android:exported="false" />
        <activity android:name=".EditarPerfil" />
        <activity
            android:name=".PerfilBottomsheet"
            android:exported="true" />
        <activity
            android:name=".Perfil2"
            android:exported="true" />
        <activity
            android:name=".Lanzamiento"
            android:exported="true" />
        <activity
            android:name=".GraficaJson"
            android:exported="true" />
        <activity
            android:name=".PlantillaPerfil"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Bottomsheet"
            android:exported="true" />
        <activity
            android:name=".formulario.Formulariopt3"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".formulario.Formulariopt2"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".formulario.Formulariopt1"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Inicio"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Perfil"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ajustes"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SignUp"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Busqueda"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>